<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
      
    <title>Daijoubu?</title>
</head>

<body>

        <h1 style="margin-bottom: 50px; margin-top: 50px;">hello Accordion</h1>
        <hr>
      
        <div class="wrapper">
          <ul class="parent_accordion" style="list-style: none;">
              <li class="sibling">
                <button onclick="kebawah()" name="button2a" style="margin-right: 150px;margin-bottom: 10px;"> <img src="https://i.imgur.com/PJRz0Fc.png" ></button>
                <button onclick="keatas()" name="button2b" style="margin-left: 150px;"><img src="https://i.imgur.com/PJRz0Fc.png" style="transform: rotate(180deg);"></button>
                <div class="accordion" style="margin-bottom: 50px;">
                  <div class="accordion_tab">
                      About Me
                      <div class="accordion_arrow">
                        <img src="https://i.imgur.com/PJRz0Fc.png" alt="arrow">
                    </div>
                  </div>
                  <div class="accordion_content">
                    <div class="accordion_item">
                      <p class="item_title">Hello my name is Ikmal Almuhtadi</p>
                      <p>I am currently studying Information System at University of Indonesia class of 2023. Have many interests that relate to technology-business.</p>
                    </div>
                    
                    
                  </div>
                  
              </li>
          
            <li class="sibling">
              <button onclick="kebawah()" name="button2a" style="margin-right: 150px;margin-bottom: 10px;"><img src="https://i.imgur.com/PJRz0Fc.png" ></button>
              <button onclick="keatas()" name="button2b" style="margin-left: 150px;"><img src="https://i.imgur.com/PJRz0Fc.png" style="transform: rotate(180deg);"></button>
              <div class="accordion" style="margin-bottom: 50px;">
                <div class="accordion_tab">
                    Capability and Skills
                    <div class="accordion_arrow">
                      <img src="https://i.imgur.com/PJRz0Fc.png" alt="arrow">
                  </div>
                </div>
                <div class="accordion_content">
                  <div class="accordion_item">
                    <p class="item_title">High Responsibility</p>
                    <p class="item_title">Time Management</p>
                    <p class="item_title">Managing People</p>
                    <p class="item_title">Django Framework</p>
                    <p class="item_title">Java</p>
                    <p class="item_title">Python</p>
                    <p class="item_title"></p>
                  </div>
              </div>
            </li>

            <li class="sibling">
              <button onclick="kebawah()" name="button3a" style="margin-right: 150px;margin-bottom: 10px;"><img src="https://i.imgur.com/PJRz0Fc.png" ></button>
              <button onclick="keatas()" name="button3b" style="margin-left: 150px;"><img src="https://i.imgur.com/PJRz0Fc.png" style="transform: rotate(180deg);"></button>
              <div class="accordion" style="margin-bottom: 50px;">
                <div class="accordion_tab">
                    Personal Experiences
                    <div class="accordion_arrow">
                      <img src="https://i.imgur.com/PJRz0Fc.png" alt="arrow" >
                  </div>
                </div>
                <div class="accordion_content">
                  <div class="accordion_item">
                    <p class="item_title">VPIC of Operational PMB 2020</p>
                    <p>not much of a work because this pandemic.</p>
                  </div>
                  <div class="accordion_item">
                    <p class="item_title">Staff of FnB Divison COMPFEST 12</p>
                    <p>i guess it's the same scenario as PMB because this pandemic, but still i learned a lot of new things and meet new friends!</p>
                  </div>
                  <div class="accordion_item">
                    <p class="item_title">Staff of Operational Wisuda Ganjil Fasilkom UI</p>
                    <p>it's really fun and i am grateful to enable helping graduation ceremony </p>
                  </div>
                </div>
              </div>
            </li>
          
            <li class="sibling">
              <button onclick="kebawah()" name="button4a" style="margin-right: 150px;margin-bottom: 10px;"><img src="https://i.imgur.com/PJRz0Fc.png" ></button>
              <button onclick="keatas()" name="button4b" style="margin-left: 150px;"><img src="https://i.imgur.com/PJRz0Fc.png" style="transform: rotate(180deg);"></button>
              <div class="accordion" style="margin-bottom: 50px;">
                  <div class="accordion_tab">
                      All Times Favorite Games
                      <div class="accordion_arrow">
                        <img src="https://i.imgur.com/PJRz0Fc.png" alt="arrow">
                    </div>
                  </div>
                  <div class="accordion_content">
                    <div class="accordion_item">
                      <p class="item_title">Apex Legends</p>
                      <div id="gifs-rows">
                        <img src="https://i.pinimg.com/originals/85/7a/ef/857aef3607c0d938b5059b9ae24c4095.png" alt="gif preset" class="preset-file" style="max-width: 40%; height: auto;">
                        <img src="https://media.giphy.com/media/57Y7CwPLfE2ofVOa5A/giphy.gif" alt="gif preset" class="gif-file" style="max-width: 40%; height: auto;">
                      </div>
                    </div>
                  </div>
              </div>
            </li>
          </ul>
        
    
    
   
    <script src=" {% static 'func.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>